@model IEnumerable<Discount>

<div class="bg-primary m-1 p-1 text-white"><h4>Discount Listing</h4></div>
<ul>
  @foreach (Discount discount in Model)
  {
    <li>@discount.Title</li>
  }
</ul>
<hr />
<a asp-action="AddDiscount">New Discount</a>

@section Scripts {
    <script type="text/javascript" src="~/js/client.js"></script>
}
