@model Discount 

<div class="bg-primary m-1 p-1 text-white"><h4>Add Discount</h4></div>
<form method="post">
    <label asp-for="@Model.Title"> Discount Title</label>
    <input asp-for="@Model.Title" placeholder="Discount Title" />
    <button type="submit">Create</button>
</form>

<hr />
<a asp-action="Index">Home</a>


